.transactionHistory {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 750px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
    color: #2f2f2f;
}

.tableHead {
    height: 50px;
    background-color: #3b5998;
    color: aliceblue;
}